@model IEnumerable<RentaInmuebles.Models.Propiedad>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="contenedor seccion">
        <h2 class="fw-300 centrar-texto">Mas sobre nosotros</h2>
        <div class="iconos-nosotros">
            <div class="icono">
                <img src="~/img/icono1.svg" alt="icono Seguridad">
                <h3>Seguridad</h3>
                <p>
                    Cras porttitor enim quis nunc ornare, ac semper eros dictum. Duis eget risus luctus, lobortis tellus vitae, posuere odio. Praesent ac risus sit amet arcu scelerisque tincidunt at malesuada eros. Proin fringilla, risus et tristique eleifend, dui magna
                    ultrices odio, at convallis leo odio vitae est.
                </p>
            </div>
            <div class="icono">
                <img src="~/img/icono2.svg" alt="icono mejor precio">
                <h3>El mejor precio</h3>
                <p>
                    Cras porttitor enim quis nunc ornare, ac semper eros dictum. Duis eget risus luctus, lobortis tellus vitae, posuere odio. Praesent ac risus sit amet arcu scelerisque tincidunt at malesuada eros. Proin fringilla, risus et tristique eleifend, dui magna
                    ultrices odio, at convallis leo odio vitae est.
                </p>
            </div>
            <div class="icono">
                <img src="~/img/icono3.svg" alt="icono a tiempo">
                <h3>A tiempo</h3>
                <p>
                    Cras porttitor enim quis nunc ornare, ac semper eros dictum. Duis eget risus luctus, lobortis tellus vitae, posuere odio. Praesent ac risus sit amet arcu scelerisque tincidunt at malesuada eros. Proin fringilla, risus et tristique eleifend, dui magna
                    ultrices odio, at convallis leo odio vitae est.
                </p>
            </div>
        </div>
    </section>

  <h2 class="fw-300 centrar-texto">Casas en renta</h2>
        <div class="contenedor-anuncios">
            
            @foreach (var p in Model)
            {
                <div class="anuncio">
                <img src="~/img/@(p.Id).jpg" alt="anuncio casa en el Lago">
                <div class="contenido-anuncio">
                    <h3>@p.Nombre</h3>
                    <p>
                        @(p.Descripcion.Substring(0,150))...</p>

                    <p class="precio">@p.Precio.ToString("c")/mes</p>

                    <ul class="iconos-caracs">
                        <li>
                            <img src="~/img/icono_wc.svg" alt="icono wc">
                            <p>@p.CantBaños</p>
                        </li>
                        <li>
                            <img src="~/img/icono_estacionamiento.svg" alt="icono estacionamiento">
                            <p>@p.CantCochera</p>
                        </li>
                        <li>
                            <img src="~/img/icono_dormitorio.svg" alt="icono habitaciones">
                            <p>@p.CantCuartos</p>
                        </li>
                    </ul>

                    <a href="~/@p.Nombre.Replace(" ","-")" class="boton boton-amarillo d-block">Ver propiedad</a>
                </div>
            </div>
            }
            
        </div>

        <div class="ver-todas">
            <a href="~/home/propiedades" class="boton boton-verde">Ver todas</a>
        </div>

