@model RentaInmuebles.Models.Propiedad

@{
    ViewData["Title"] = "VerPropiedad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="fw-300 centrar-texto">@Model.Nombre</h1>
    <img src="~/img/@(Model.Id).jpg" alt="imagen anuncio">

<div class="resumen-propiedad">

    

    <p class="precio">Precio @Model.Precio.ToString("c")</p>
    <ul class="iconos-caracs">
        <li>
            <img src="~/img/icono_wc.svg" alt="icono wc">
            <p>@Model.CantBaños</p>
        </li>
        <li>
            <img src="~/img/icono_estacionamiento.svg" alt="icono estacionamiento">
            <p>@Model.CantCochera</p>
        </li>
        <li>
            <img src="~/img/icono_dormitorio.svg" alt="icono habitaciones">
            <p>@Model.CantCuartos</p>
        </li>
    </ul>


</div> <!--resumen propiedad-->

<p>@Model.Direccion @Model.IdciudadNavigation.Nombre, @Model.IdciudadNavigation.Estado</p>

<p>@Model.Descripcion</p>
