@model RentaInmuebles.Models.ViewModels.PropiedadViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "VerPropiedad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="fw-300 centrar-texto">@Model.Propiedad.Nombre</h1>
<img src="~/img/@(Model.Propiedad.Id).jpg" alt="imagen anuncio">


<div class="resumen-propiedad">


    <p class="precio">Precio @Model.Propiedad.Precio.ToString("c")</p>
    <ul class="iconos-caracs">
        <li>
            <img src="~/img/icono_wc.svg" alt="icono wc">
            <p>@Model.Propiedad.CantBaños</p>
        </li>
        <li>
            <img src="~/img/icono_estacionamiento.svg" alt="icono estacionamiento">
            <p>@Model.Propiedad.CantCochera</p>
        </li>
        <li>
            <img src="~/img/icono_dormitorio.svg" alt="icono habitaciones">
            <p>@Model.Propiedad.CantCuartos</p>
        </li>
        
        
    </ul>


</div> <!--resumen propiedad-->



<p>@Model.Propiedad.Direccion @Model.Propiedad.IdciudadNavigation.Nombre, @Model.Propiedad.IdciudadNavigation.Estado</p>

<p>@Model.Propiedad.Descripcion</p>

<a href="https://api.whatsapp.com/send?phone=+528616151832&text=Me%20podr%C3%ADa%20brindar%20informaci%C3%B3n%20de%20{@Model.Propiedad.Nombre}">

    <div class="imgcrac">
    <img class="imgcrac" src="https://cdn-icons-png.flaticon.com/512/174/174879.png"/>
</div>
</a>

<form class="contacto" action="~/@Model.Propiedad.Nombre.Replace(" ","-")" method="post">

    <fieldset>
        <legend>Quiero ser contactado</legend>
        <input type="hidden"  asp-for="Propiedad.Id" />     
        <input type="hidden"  asp-for="Propiedad.Direccion" />   
        <input type="hidden"  asp-for="Propiedad.Nombre" />   
        <input type="hidden"  asp-for="Propiedad.IdciudadNavigation.Id" />  
        <input type="hidden"  asp-for="Propiedad.IdciudadNavigation.Nombre" />  
        <input type="hidden"  asp-for="Propiedad.IdciudadNavigation.Estado" />  
        <input type="hidden"  asp-for="Propiedad.IdciudadNavigation.Pais" />  

        <label >Nombre:</label>
        <input type="text"  asp-for="Contacto.Nombre" placeholder="Tu Nombre" required>

        <label>E-Mail:</label>
        <input type="email"  asp-for="Contacto.Email" placeholder="Tu Correo Electronico" required>

        <label>Teléfono:</label>
        <input type="tel"  asp-for="Contacto.Telefono" placeholder="Tu teléfono" required>

        <label>Mensaje:</label>
        <textarea asp-for="Contacto.Mensaje"></textarea>

    </fieldset>

    @Html.ValidationSummary()


    <input type="submit" value="Enviar" class="boton boton-verde">

    @if (ViewData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewData["Message"]");
            };
        </script>
    }
   
</form>